<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChristCanteenOnlineOrderingSystem"
        tools:targetApi="31">
        <activity
            android:name=".Block12"
            android:exported="false" />
        <activity
            android:name=".Block3"
            android:exported="false" />
        <activity
            android:name=".Block4"
            android:exported="false" />
        <activity
            android:name=".OppositeCentralBlock"
            android:exported="false" />
        <activity
            android:name=".model.MainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminSignup"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".IndianCofeeHouse"
            android:exported="false" />
        <activity
            android:name=".AudiBlock"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".CanteenMenu"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".CanteenScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CentralBlockActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
    </application>

</manifest>